<div id="container" class="locale-ja container">
  <div class="calendar-container">
    <div class="mv-container">
      <table cellpadding="0" cellspacing="0" class="mv-daynames-table row-10" id="myDaynamesTable">
      </table>
      <div class="mv-event-container vh-100" id="mvEventContainer2"></div>
    </div>
  </div>
</div>


<%= javascript_pack_tag 'calendar_test' %>